.search-nav{
    width:100%;
    height:fit-content;
    background-color:rgb(241,240,240);
    align-items: center ;
    display:grid;
    grid-template-rows: 1fr;
    position:relative;
    overflow-x:auto;
}

.search-option{
    text-align: center;
    margin:auto 0;
    padding:0.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.more-options{
    display:flex;
    justify-content: center;
    align-items: center;
}

.search-option,.more-options{
    cursor:pointer;
}

.active-search-option{
    border-bottom: 1px solid #0077E5;
    color:#0077E5;
}